.Profile-title {
    background: url("../img/profile/Oval Copy 2.png") no-repeat center / cover;
    font-family: kinopoisk-light, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 50px auto;
    border-radius: 50%;
}

.Profile-button {
    text-align: center;
}

.button {
    background: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    align-items: center;
}

button:hover {
    transition: all 1s ease;
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.Profile-arrow {
    margin-left: 10px;
}