@import url('./style/Header.css');
@import url('./style/Profile.css');
@import url('./style/fonts.css');

.App {
    min-height: 100vh;
    background: url("img/app/Sky.png") center center no-repeat;
    background-size: cover;
}